.message {
  display: flex;
  padding: 10px;
  align-items: center;
  position: relative;
  width: fit-content;
}
.message__content {
  margin: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  color: black;
}

.message__content > small {
  position: absolute;
  margin-top: 20px;
  right: 0;
  bottom: -5px;
  color: gray;
  font-size: 8px;
}
.message__sender {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 10px;
}

.message__sender > .message__content {
  background-color: #3e93fd;
  color: white;
}
